[Unit]
Description=NGINX Web 服务器
# 等待网络启动完成后再启动 nginx
After=network.target

[Service]
Type=forking
PIDFile=%NGINX_DIR%/logs/nginx.pid

# 明确设置工作目录
WorkingDirectory=%NGINX_DIR%


# 启动 nginx 服务（使用指定配置文件）
ExecStart=/usr/local/bin/nginx -c %NGINX_DIR%/conf/nginx.conf
ExecReload=/usr/local/bin/nginx -s reload
ExecStop=/usr/local/bin/nginx -s stop

# 打开文件最大数量，适合高并发
LimitNOFILE=65535
# 最大进程数
LimitNPROC=4096
# 禁止生成 core dump，防止信息泄露
LimitCORE=0
# 设置默认文件权限为 750/640（仅属组成员可读）
# 根据 Linux 安全准则，静态站点不涉及文件上传、插件安装、媒体管理等功能设置为0077更安全，否则0027
UMask=0027

# 严格保护 /usr /boot /etc，进程只能只读访问这些目录
ProtectSystem=strict
# 禁止访问 /home /root，防止访问用户目录
ProtectHome=true
# 为 nginx 分配独立 /tmp 目录，防止与其他服务交叉访问
PrivateTmp=true
# 禁止提权操作，例如 setuid、capabilities 提权等
NoNewPrivileges=true

# 禁止访问 cgroup
ProtectControlGroups=true
# 禁止加载内核模块
ProtectKernelModules=true
# 禁止修改内核参数
ProtectKernelTunables=true
# 禁止使用实时调度
RestrictRealtime=true
# 限制仅使用网络协议族 IPv4/IPv6/Unix socket
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
# 黑名单过滤不必要系统调用（禁止调试、挂载、重启等）
SystemCallFilter=~@debug @mount @reboot @swap @module @raw-io @obsolete @cpu-emulation @clock @sysctl

# 只读挂载 nginx 配置路径
ReadOnlyPaths=%NGINX_DIR%
# 仅允许日志路径写入
ReadWritePaths=%NGINX_DIR%/logs
# 禁止访问这些路径
InaccessiblePaths=/bin /sbin /boot /home /media /srv /root /var /sys /proc /lost+found %NGINX_DIR%/nginx %NGINX_DIR%/html %NGINX_DIR%/sbin
# 隐藏其他进程（需要 systemd >= 247）
ProtectProc=invisible
# 禁止修改主机时间
ProtectClock=true
# 防止读取内核日志
ProtectKernelLogs=true
# 隐藏 /dev 下大部分设备，仅保留标准输入/输出/错误设备
PrivateDevices=true
RestrictDevices=yes

# 防止服务分配可执行内存
MemoryDenyWriteExecute=true
# 防止进程更改执行平台（如 32/64位模式切换）
LockPersonality=true
# 防止创建新用户/网络/mount 等 namespace，减少逃逸攻击面
RestrictNamespaces=true
# 禁止写入 /dev/shm 和 /run/shm，防止利用共享内存进行通信或逃逸
#ProtectSHM=true
# 隔离网络命名空间（仅 root 用户启动时建议）
RestrictNetworkInterfaces=true
#  防止创建 SUID/SGID 文件
RestrictSUIDSGID=yes
# 限制 CPU 架构调用
SystemCallArchitectures=native
# 杀死所有子进程
KillMode=control-group
# 限制某些危险网络功能
CapabilityBoundingSet=~CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BROADCAST \
                      CAP_SYS_PACCT CAP_LINUX_IMMUTABLE \
                      CAP_BPF CAP_SYS_TTY_CONFIG CAP_SYS_BOOT \
                      CAP_SYS_CHROOT CAP_BLOCK_SUSPEND CAP_LEASE \
                      CAP_MAC_ADMIN CAP_MAC_OVERRIDE \
                      CAP_SYS_PTRACE CAP_SETFCAP \
                      CAP_AUDIT_CONTROL CAP_AUDIT_WRITE CAP_AUDIT_READ \
                      CAP_WAKE_ALARM CAP_SYS_ADMIN char-rtc:r
# 不继承任何 ambient capabilities
AmbientCapabilities=
# 只允许服务访问 /proc 中与本服务相关的 PID 子集
ProcSubset=pid



# 出错时自动重启
Restart=on-failure
# 3 秒后重启
RestartSec=3

[Install]
# 启动级别为普通多用户模式
WantedBy=multi-user.target
